<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NIQ</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css}">
  </head>
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">Index</h1>
					<p class="lead text-muted">Welcome...</p>
				</div>
			</div>
		</section>
	</main>

	<script th:src="@{/webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>